<div class="container">
  <div class="col-xs-12">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" style="margin-top: 30px;">
      <div class="d-flex justify-content-center">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text"
            id="email"
            class="form-control"
            formControlName="email"
            [placeholder]="placeholder">
          <span class="help-block" *ngIf="!loginForm.get('email')?.valid && loginForm.get('email')?.touched">Please enter an email according to the format.</span>
        </div>
      </div>
    </form>
    <div class="d-flex justify-content-center" style="margin-top: 20px;">
      <button (click)="onSubmit()"
            class="btn btn-primary"
            type="submit"
            >Login</button>
    </div>
  </div>
</div>

